@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Nguyễn Đăng Khoa
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    0389 552 688
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:khoanguyen109.dev@gmail.com">khoanguyen109.dev@gmail.com</a><br />
</address>